@import "https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css";
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
}
:root {
  height: 100px;
  font-size: 12px;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.home {
  padding-bottom: 2000px;
}
/* .intersection {
} */
