*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  height: 100%;
  font-size: 13px;
  --base-dark: rgb(28, 29, 33);
  --theme-color: hsl(180, 100%, 10%);
  --border: 0.1rem silver solid;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--base-dark);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0px;
  font-size: 1.5rem;
}
td {
  padding: 2rem;
}
[data-theme="color-1"] {
  --shade-1: hsl(180, 100%, 10%);
  --shade-2: hsl(180, 100%, 15%);
  --shade-3: hsl(180, 100%, 20%);
  --shade-4: hsl(180, 100%, 25%);
  --shade-5: hsl(180, 100%, 30%);
  --shade-6: hsl(180, 100%, 35%);
}

[data-theme="color-2"] {
  --shade-1: hsl(300, 100%, 10%);
  --shade-2: hsl(300, 100%, 15%);
  --shade-3: hsl(300, 100%, 20%);
  --shade-4: hsl(300, 100%, 25%);
  --shade-5: hsl(300, 100%, 30%);
  --shade-6: hsl(300, 100%, 35%);
}

[data-theme="color-3"] {
  --shade-1: hsl(200, 100%, 35%);
  --shade-2: hsl(210, 50%, 30%);
  --shade-3: hsl(190, 50%, 40%);
  --shade-4: hsl(180, 50%, 60%);
  --shade-5: hsl(200, 50%, 60%);
  --shade-6: hsl(220, 50%, 60%);
}

.bg-1 {
  background: var(--shade-1);
}

.bg-2 {
  background: var(--shade-2);
}

.bg-3 {
  background: var(--shade-3);
}

.bg-4 {
  background: var(--shade-4);
}

.bg-5 {
  background: var(--shade-5);
}

.bg-6 {
  background: var(--shade-6);
}
